<a href="https://colab.research.google.com/github/SamaSamrin/Data-Preprocessing/blob/main/Data_Joining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

bowlers = pd.read_excel("ODI_cricket.xlsx", sheet_name="bowler")
display(bowlers.head(10))

#Creating DataFrame with our data/lists

## Education DataFrame

In [5]:
df_A = pd.DataFrame()
df_A["Name"] = ["Sama", "Sabab", "Samira"]
df_A["Education"] = ["Graduate", "College", "Undergraduate"]
df_A["Subject"] = ["CSE", "Maths", "BBA"]

display(df_A)

     Name      Education Subject
0    Sama       Graduate     CSE
1   Sabab        College   Maths
2  Samira  Undergraduate     BBA

## Names DataFrame

In [6]:
df_B = pd.DataFrame() 
df_B["Name"] = ["Sama", "Samira", "Sabab"]
df_B["Last Name"] = ["Samrin", "Sabah", "Salam"]
df_B["Nickname"] = ["Orpa", "Suha", "Sabab"]

display(df_B)

     Name Last Name Nickname
0    Sama    Samrin     Orpa
1  Samira     Sabah     Suha
2   Sabab     Salam    Sabab

## Personal Info DataFrame

In [7]:
df_C = pd.DataFrame()
df_C["Name"] = ["Sama", "Shabiba", "Sabab"]
df_C["Location"] = ["Uttara", "Banani", "Dhanmondi"]
df_C["Age"] = ["27", "23", "20"]

display(df_C)

      Name   Location Age
0     Sama     Uttara  27
1  Shabiba     Banani  23
2    Sabab  Dhanmondi  20



---

# Merging Data